.app{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.container{
  display: flex;
  width: 400px;
  /* align-items: center; */
  min-height: 80vh;
  padding: 20px;
  margin: 2px;
  border: 1px solid white;
  font-size: 20px;
  color: wheat;
  flex-direction: column;
  align-items: center;
}
.FormTodo{
  padding: 20px;
}
.inputBox{
  height: 25px;
  width: 250px;
  border-radius: 15px;
}
.btn{
  border-radius: 10px;
  box-sizing: border-box;
  width: 50px;
  padding: 2px;
  margin: 4px;
  height: 25px;
}
.allTodos{
  list-style: none;
  background-color: rgb(112, 150, 206);
  border-radius: 10px;
  color: black;
  width: 300px;
  margin: 2px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.singleTodo{
  flex: 1;
}